// .accordion
//
// Functionality dependant on toggling '.active' as shown on the open acordion below.
//
// Markup: 
// <div class="accordion active">
//     <h5>Accordion Header Open<i></i></h5>
//     <ul class="drop_menu active">
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//     </ul>
// </div>
// <div class="accordion">
//     <h5>Accordion Header<i></i></h5>
//     <ul class="drop_menu">
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//     </ul>
// </div>
//
// Styleguide 10.1

.accordion {
  margin-bottom: rem(10);
  border-bottom: 1px solid rgba($gloo_gray, .3);

  > h5 {
    color: $teal;
    padding-right: 2rem;
    margin: 0 0 rem(5);
    cursor: pointer;
    i {
      position: absolute;
      right: rem(2);
      top: rem(3);
      @extend .fa;
      @extend .fa-sort-desc;
    }
  }

  ul {
    max-height: 0;
    overflow: hidden;
    @include transition(all .5s ease-in-out);
  }

  .ui_checkbox_secondary {
    + label {
      margin-left: 2em;
      padding-bottom: 0;
      display: block;
    }
  }

  &.active {

    .drop_menu {
      padding: 1rem 0;
    }

    h5 {
      i {
        @extend .fa-sort-asc;
        top: rem(7);
      }
    }

  }

}
