// .accordion
//
// Functionality dependant on toggling '.active' as shown on the open acordion below.
//
// Markup: 
// <div class="accordion active">
//     <h5>Accordion Header Open<i></i></h5>
//     <ul class="drop_menu active">
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//     </ul>
// </div>
// <div class="accordion">
//     <h5>Accordion Header<i></i></h5>
//     <ul class="drop_menu">
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//         <li>Accordion item</li>
//     </ul>
// </div>
//
// Styleguide 10.1

.accordion {
  padding-bottom: rem(10);

  > h5 {
    color: $teal;
    padding-right: 2rem;
    padding-bottom: rem(5);
    margin-bottom: rem(10);
    cursor: pointer;
    border-bottom: 1px solid rgba($gloo_gray, .3);
    i {
      position: absolute;
      right: rem(2);
      bottom: rem(15);
      @extend .fa;
      @extend .fa-sort-desc;
    }
  }

  ul {
    max-height: 0;
    overflow: hidden;
    @include transition(all .5s ease-in-out);
  }

  .ui_checkbox_green {
    + label {
      margin-left: 2em;
      padding-bottom: 0;
      display: block;
    }
  }

  &.active {
      
    h5 {
      i {
        @extend .fa-sort-asc;
        bottom: rem(10);
      }
    }

  }

}
