@include keyframes(onePulse) {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}

.pulse_btn {
  i {
    @include backface-visibility(hidden);
    @include animation-fill-mode(both);
  }
  &:hover {
    i {
      @include animation-name(onePulse);
      @include animation-duration(.6s);
      @include animation-timing-function(ease-in-out);
      @include animation-delay(0);
      @include animation-iteration-count(2);
    }
  }
}


@include keyframes(flipYnofade) {
  from {
    @include transform(perspective(400px));
    @include transform(rotateY(90deg));
  }
  to {
    @include transform(perspective(400px));
    @include transform(rotateY(0deg));
  }
}

// .flipYnofade
//
// Horizontally flips an element
//
// Styleguide 9.1

.flipYnofade {
  @include animation-name(flipYnofade);
  @include animation-duration(0.4s);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(both);
  @include animation-delay(0.1s);
  @include backface-visibility(hidden);
}

// .flipInY
//
// Horizontally flips an element
//
// Styleguide 9.2

@include keyframes(flipInY) {
  from {
    @include transform(perspective(400px) rotateY(90deg));
    opacity: 0;
  }
  to {
    @include transform(perspective(400px) rotateY(0));
    opacity: 1;
  }
}

.flipInY {
  @include animation-name(flipInY);
  @include animation-duration(0.5s);
  @include animation-timing-function(ease);
  @include animation-fill-mode(both);
  @include backface-visibility(hidden);
}

// .flipOutY
//
// Horizontally flips an element
//
// Styleguide 9.3

@include keyframes(flipOutY) {
  from {
    @include transform(perspective(400px) rotateY(0));
    opacity: 1;
  }
  to {
    @include transform(perspective(400px) rotateY(90deg));
    opacity: 0;
  }
}

.flipOutY {
  @include animation-name(flipInY);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(0.2s);
  @include animation-fill-mode(both);
  @include backface-visibility(hidden);
}

// stetchDelay
//
// Scales an object's y axis. See .bounce_loader (located in utilites) for usage example.
//
// Styleguide 9.3
@include keyframes(stretchDelay) {
  0%, 40%, 100% {
    @include transform(scaleY(0.3));
  }
  20% {
    @include transform(scaleY(1));
  }
}

@include keyframes(spaceInDown) {
  0% {
    opacity: 0;
    @include transform-origin(50% 100%);
    @include transform(scale(.2) translate(0%, 200%));
  }
  100% {
    opacity: 1;
    @include transform-origin(50% 100%);
    @include transform(scale(1) translate(0%, 0%));
  }
}

@include keyframes(spaceInLeft) {
  0% {
    opacity: 0;
    @include transform-origin(0% 50%);
    @include transform(scale(.2) translate(-200%, 0%));
  }
  100% {
    opacity: 1;
    @include transform-origin(0% 50%);
    @include transform(scale(1) translate(0%, 0%));
  }
}

@include keyframes(spaceInRight) {
  0% {
    opacity: 0;
    @include transform-origin(100% 50%);
    @include transform(scale(.2) translate(200%, 0%));
  }
  100% {
    opacity: 1;
    @include transform-origin(100% 50%);
    @include transform(scale(1) translate(0%, 0%));
  }
}

@include keyframes(vanishIn) {
  0% {
    opacity: 0;
    @include transform-origin(50% 50%);
    @include transform(scale(2));
    @include filter(blur(90px));
  }

  100% {
    opacity: 1;
    @include transform-origin(50% 50%);
    @include transform(scale(1));
    @include filter(blur(0));
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(0));
  }
  25%, 75% {
    @include transform(scale(1.1));
  }
  50%, 100% {
    @include transform(scale(1));
  }
}

@include keyframes(fadeUpIn) {
  0% {
    opacity: 0;
    @include transform(translateY(3rem));
  }
  50% {
    opacity: .5;
    @include transform(translateY(1.5rem));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0rem));
  }
}


@include keyframes(opacityPulse) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg) scale(1));
  }
  100% {
    @include transform(rotate(180deg) scale(1.2));
  }
}

.spin_btn {
  i {
    @include backface-visibility(hidden);
    @include animation-fill-mode(both);
  }
  &:hover {
    i {
      @include animation-name(spin);
      @include animation-duration(.6s);
      @include animation-timing-function(linear);
      @include animation-delay(0);
      @include animation-iteration-count(1);
    }
  }
}