
@include keyframes(flipYnofade) {
  from {
    @include transform(perspective(400px));
    @include transform(rotateY(90deg));
  }
  to {
    @include transform(perspective(400px));
    @include transform(rotateY(0deg));
  }
}

// .flipYnofade
//
// Horizontally flips an element
//
// Styleguide 9.1

.flipYnofade {
  @include animation-name(flipYnofade);
  @include animation-duration(0.4s);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(both);
  @include animation-delay(0.1s);
  @include backface-visibility(hidden);
}

// .flipInY
//
// Horizontally flips an element
//
// Styleguide 9.2

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }
  }

@-moz-keyframes flipInY {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-ms-keyframes flipInY {
  0% {
    -ms-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -ms-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }
}

@-o-keyframes flipInY {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
    }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

.flipInY {
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -ms-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

// .flipOutY
//
// Horizontally flips an element
//
// Styleguide 9.3

@-webkit-keyframes flipOutY {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }

  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }

@-moz-keyframes flipOutY {
  0% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }

  100% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }

@-ms-keyframes flipOutY {
  0% {
    -ms-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }

  100% {
    -ms-transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }

@-o-keyframes flipOutY {
  0% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1; }

  100% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }

@keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1; }

  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }

.flipOutY {
  -webkit-animation-name: flipOutY;
  -moz-animation-name: flipOutY;
  -ms-animation-name: flipOutY;
  -o-animation-name: flipOutY;
  animation-name: flipOutY;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

// stetchDelay
//
// Scales an object's y axis. See .bounce_loader (located in utilites) for usage example.
//
// Styleguide 9.3
@include keyframes(stretchDelay) {
  0%, 40%, 100% {
    @include transform(scaleY(0.3));
  }
  20% {
    @include transform(scaleY(1));
  }
}

@include keyframes(spaceInDown) {
  0% {
    opacity: 0;
    @include transform-origin(50% 100%);
    @include transform(scale(.2) translate(0%, 200%));
  }
  100% {
    opacity: 1;
    @include transform-origin(50% 100%);
    @include transform(scale(1) translate(0%, 0%));
  }
}

@include keyframes(spaceInLeft) {
  0% {
    opacity: 0;
    @include transform-origin(0% 50%);
    @include transform(scale(.2) translate(-200%, 0%));
  }
  100% {
    opacity: 1;
    @include transform-origin(0% 50%);
    @include transform(scale(1) translate(0%, 0%));
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(0));
  }
  25%, 75% {
    @include transform(scale(1.1));
  }
  50%, 100% {
    @include transform(scale(1));
  }
}