// img.circled
//
// Add this class to acheive the circled image with border.
//
// Markup:
// <img class="circled" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.1

img {

	&.circled {
		border-radius: 100%;
		border: .2rem solid $white;
		box-shadow: $shadow_depth1;
	}

	// img.circled.xsmall
	//
	// 30px by 30px
	// 
	// Markup:
	// <img class="circled xsmall" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.2
	&.xsmall {
		width: rem(30);
		height: rem(30);
	}

	// img.circled.small
	//
	// 40px by 40px
	// 
	// Markup:
	// <img class="circled small" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.3
	&.small {
		width: rem(40);
		height: rem(40);
	}

	// img.circled.medium
	//
	// 60px by 60px
	// 
	// Markup:
	// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.4
	&.medium {
		width: rem(60);
		height: rem(60);
	}

	// img.circled.large
	//
	// 90px by 90px
	// 
	// Markup:
	// <img class="circled large" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.5
	&.large {
		width: rem(90);
		height: rem(90);
	}

	// img.circled.xlarge
	//
	// 110px by 110px
	// 
	// Markup:
	// <img class="circled xlarge" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.6
	&.xlarge {
		width: rem(110);
		height: rem(110);
	}

}

// .notification
//
// Used next to the cricled image
//
// Markup:
// <div class="notification">
//     <a id="notificationCount" href="#">3</a>
// </div>
// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.7

.notification {
	border-radius: .5rem;
	background: $red;
	display: block;
	position: absolute;
	padding: .1rem .1rem .1rem .2rem;
	left: -3.7rem;
	top: .3rem;
	z-index: 20;
	min-width: 2.7rem;
	min-height: 2.6rem;
	text-align: center;
	border: .2rem solid $white;
	&:before {
		content: '';
		position: absolute;
		border-top: .4rem solid transparent;
		border-bottom: .4rem solid transparent;
		border-left: .4rem solid $red;
		right: -0.4rem;
		top: .7rem;
	}

	a {
		display: block;
		font-size: 1rem;
		@extend %font_weight_700;
		padding: .1rem;
		color: $white;
		line-height: 1.8;
	}

	@include media($medium) {
		top: .75rem;
	}

}

// .avatar
//
// Most common layout for basic user photo with a caption. Image @extends ".bordered" & ".circled" as styled above. Use class ".xsmall" or ".small" to pick avatar size. There is also an '.alerts' variation when a user has nofiticaion, but please be aware that the markup will change in this situation.
//
// Markup:
// <figure class="avatar">
//     <img class="circled small" src="http://lorempixel.com/100/100/nature/" />
//     <figcaption>
//         <h5><a>Sally Sanderson</a></h5>
//         <p>I'm a cool user</p>
//     </figcaption>
// </figure>
// <figure class="avatar alerts">
//     <div class="wrap">
//         <div class="notification">
//             <a>3</a>
//         </div>
//         <img class="small" src="http://lorempixel.com/100/100/nature/" />
//     </div>
//     <figcaption>
//         <h5>Champion Name</h5>
//     </figcaption>
// </figure>
// <figure class="avatar alerts medium">
//     <div class="wrap">
//         <div class="notification">
//             <a>3</a>
//         </div>
//         <img class="circled medium bordered" src="http://lorempixel.com/100/100/nature/" />
//     </div>
//     <figcaption>
//         <h5>Champion Name</h5>
//     </figcaption>
// </figure>
// <figure class="avatar alerts">
//     <div class="wrap">
//         <div class="notification">
//             <a>3</a>
//         </div>
//         <img class="small" src="http://lorempixel.com/100/100/nature/" />
//     </div>
//     <figcaption>
//         <h5>Champion Name</h5>
//     </figcaption>
// </figure>
//
// Styleguide 21.8
.avatar {
	padding-left: rem(50);
	@extend %clearfix;
	// border radius webkit bug fix
	-webkit-transform-style: preserve-3d;

	img {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	figcaption {
		
		h5 {
			@include sans_bold;
			margin: 0;
			a {
				color: $gray_dark;
			}
		}

		a.block {
			display: block;
		}

		.primary {
			padding: .5rem;
		}
		
		p {
			margin: 0;
			@extend %small_text;
			@extend %muted_text;
		}

	}

	// for avatars with .medium sized circles
	&.medium {
		padding-left: rem(70);
		margin: 3rem 0;
	}

	&.alerts {
		padding-left: rem(75);
		
		img {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		figcaption {
			padding: rem(10);
		}

		.wrap {
			position: absolute;
			left: rem(20);
			bottom: 0;
			top: 0;
			margin: auto;
			height: 3.2rem;
		}

	}

}

// .avatar_container
//
// For use with multi image avatars
//
// Markup:
// <a class="avatar_container">
// 	<div class="left_half_image">
// 		<img src="//placeimg.com/150/150/any"/>
// 	</div>
// 	<div class="right_top_image"> 
// 		<img src="//placeimg.com/150/150/any"/>
// 	</div>
// 	<div class="right_bottom_image">
// 		<img src="//placeimg.com/150/150/any"/>
// 	</div>
// </a>
// <a class="avatar_container" ui-sref="spacesState.space">
// 	<div class="left_half_image">
// 		<img src="//placeimg.com/100/100/any"/>
// 	</div>
// 	<div class="right_half_image">
// 		<img src="//placeimg.com/100/100/any"/>
// 	</div>
// </a>
//
// Styleguide 21.9
.avatar_container {
	width: 10rem;
	height: 10rem;
	border: 2px solid $green;
	display: block;
	border-radius: 100%;
	overflow: hidden;
	
	.left_half_image, .right_half_image, .right_top_image, .right_bottom_image {
		position: absolute;
		overflow: hidden;
		img {
			max-width: 101%;
			width: 101%;
			height: 101%;
		}
	}

	.left_half_image {
		top: 0;
		left: -50%;
		width: 100%;
		border-right: .1rem solid $white;
	}

	.right_half_image {
		top: 0;
		right: -50%;
		width: 100%;
	}

	.right_top_image {
		top: 0;
		height: 50%;
		left: 50%;
		border-bottom: .1rem solid $white;
	}

	.right_bottom_image {
		bottom: 0;
		height: 50%;
		left: 50%;
	}

}