// # _base
//
// _base is used to manage baselines for base elements such as <body>, as well as setup the base font sizes and rem calculations.
//
// Styleguide 4.0

$fontbase: 1.0rem; // 10px
$base_font_size : 1.4rem;
$base_line_height: 2.3rem;

* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // sets root font size to 10px for easy maths
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-family: $helvetica;
	color: $black;
	overflow-x: hidden;
	left: 0;
	@include transition (left .75s ease-in-out);

	&.menu_open {
		left: 250px;
		overflow: hidden;
		@include media($large) {
			left: 0;
			overflow: auto;
		}
	}
}

img {
  margin: 0;
  max-width: 100%;
}

::selection {
	background: $selection;
}

::-moz-selection {
	background: $selection;
}

// # Default Anchor Tag
//
// Markup: <a class="$modifierClass">Default Link</a>
//
// :hover - eases color darker by 5%
//
//
// Styleguide 4.1

a {
	color: $teal;
	text-decoration: none;

	&:hover, &:active, &:focus {
		color: darken($teal, 5%);
		@include transition(color 0.5s ease-in);
		cursor: pointer;
	}

	&:active, &:focus {
		outline: none;
	}
}

p {
  margin: 0 0 ($base_line_height * .5);
}

// #HR
//
// Stying for HR tags
//
// Markup:
// <hr>
//
// Styleguide 4.3

hr {
	width: 65%;
	background-color: lighten($light_gray, 10%);
	height: 0.1rem;
	border: 0px;
	display: block;
	margin: 1.5rem auto;
}

// # .browsehappy
//
// provides friendly message to old browsers advising to upgrade
//
//
// Styleguide 4.4

.browsehappy {
	background: rgba(0,0,0, 0.6);
	color: $white;
	text-align: center;
	margin: 0;
	padding: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

//hidden on mobile to stay out of our biz
.atlwdg-trigger {
	display: none!important;
	@include media($large) {
		display: block!important;
	}
	z-index: 100;
}
