%button {
	border: none;
	border-radius: 6px;
	padding: 0.6em 2em;
	@include sans_light;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;

	&:focus {
		outline: none;
	}

	&:hover, &:focus {
		@include transition (all .5s ease-in-out);
	}
}

%btn_full_mobile {
	width: 100%;
	@include media($small) {
		width: auto;
	}
}

input[type="submit"] {
	@extend %button;
}

// .primary
//
// The primary button style for the site
//
// Markup:
// <button class="primary {$modifiers}">I'm the Primary</button>
//
// :hover - darkens the background color
// :focus - darkens the background color
//
// Styleguide 6.1

.primary {
	@extend %button;
	background: $teal;
	color: $white;

	&:hover, &:focus {
		background: darken($teal, 14%);
		color: $white;
	}
}

// .secondary
//
// The secondary button style for the site
//
// Markup:
// <button class="secondary {$modifiers}">I'm the Secondary</button>
//
// :hover - darkens the background color
//
// Styleguide 6.2

.secondary {
	@extend %button;
	background: $light_green;
	color: $white;

	&:hover, &:focus {
		background: darken($light_green, 14%);
	}

}

// .tertiary
//
// The tertiary button style for the site
//
// Markup:
// <button class="tertiary {$modifiers}">I'm the Tertiary</button>
//
// :hover - lightens the background color
//
// Styleguide 6.3

.tertiary {
	@extend %button;
	background: $navy;
	color: $white;

	&:hover, &:focus {
		background: tint($navy, 15%);
	}

}

// .quaternary
//
// The quaternary button style for the site
//
// Markup:
// <button class="quaternary {$modifiers}">I'm the Quaternary</button>
//
// :hover - darkens the background color
//
// Styleguide 6.4
.quaternary {
	@extend %button;
	background: $sand;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	@include sans_light;
	color: $gloo_gray;

	&:hover, &:focus {
		background: darken($sand, 5%);
		color: $gray;
	}

}

// .inverse
//
// The inverse button style for the site
//
// Markup: <button class="inverse {$modifiers}">I'm the inverse</button>
//
// :hover - darkens the background color
//
// Styleguide 6.5

.inverse {
	@extend %button;
	color: $teal;
	background: $white;
	border: 1px solid $teal;

	&:hover, &:focus {
		background: $teal;
		color: $white;
	}
}

// .btn_icon
//
// Button with left icon. For new buttons it is necessary to add the icon to the markup and sass.
//
// Markup: <button class="btn_icon gplus">Login using Google Account</button>
//
// Styleguide 6.6

.btn_icon {
	@extend %button;
	@include sans_light;
	font-size: 1.4rem;
	@include pad(0.6em 2em 0.6em rem(58));
	color: $white;

	&:before {
		border-right: 1px solid $white;
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		line-height: 2;
		font-size: 140%;
		width: 4rem;
	}

	&:focus {
		box-shadow: 1px 1px 5px $light_gray;
	}

	//add icon variations here
	&.gplus {

		&:before {
			@extend .fa;
			@extend .fa-google-plus;
			line-height: 2!important;
		}

	}

	//all buttons default to larger font/width on 768+
	@include media($small) {
		font-size: 1.6rem;
		@include pad(0.6em 2em 0.6em rem(70));

		&:before {
			width: rem(50);
		}

	}
}

// .btn.disabled
//
// The disabled button style for the site. Also used for styling input[type="submit"]:disabled.
//
// Markup:
// <button class="disabled">I'm disabled</button>
//
//
// Styleguide 6.7

 .disabled, input[type="submit"]:disabled {
	@extend %button;
	background: $gloo_gray;
	cursor: not-allowed!important;
	color: $white;

	&:hover, &:focus {
		background: $gloo_gray;
	}
 }

// .btn.muted
//
// The muted button style for the site.
//
// Markup:
// <button class="muted">I'm muted</button>
//
//
// Styleguide 6.8

 .muted {
	@extend %button;
	color: $white;
	background: $light_gray;

	&:hover, &:focus {
		background: darken($light_gray, 10%);
	}
 }

 %circle_btn {
 	@extend %button;
 	@include pad(1rem 1.5rem);
 	box-shadow: -1px 1px 0 0 rgba($light_gray, 0.25);
 	background: $white;
 	font-size: 3rem;
 	border-radius: 3rem;
 	line-height: 0;

 	&:focus {
		box-shadow: -1px 0 3px $light_gray;
	}

	&.tan {
		background: $sand;
	}

 }

// .btn_add
//
// A special plus button
//
// Markup: <button class="btn_add"><i class="fa fa-plus"></i></button>
//
//
// Styleguide 6.9

.btn_add {
 	@extend %circle_btn;
 	color: $green;
 	float: left;

 	i {
 		@extend .fa;
 		@extend .fa-plus;
 		float: left;
 	}

 	// by default the following a will center next to the button
 	+ a {
		margin-left: rem(15);
		display: inline-block;
		padding-top: 1rem;
		span {
			@extend %muted_text;
	        display: block;
		}
	}
}

// .tag
//
// Tag style
//
// Markup: <a class="tag {$modifiers}">Lifestyle</a>
//
// :hover - darkens the background
//
// Styleguide 6.10

.tag {
	background: $sand;
	padding: .75rem;
	font-weight: 900;
	color: $gloo_gray;
	border-radius: 9px;
	display: inline-block;
	&:hover {
		background: darken($sand, 10%);
		color: darken($gloo_gray, 10%);
	}
}


// .btn_action
//
// Markup: <button class="btn_action"><i class="fa fa-sign-out"></i></button>
//
// Styleguide 6.11
.btn_action {
    @extends %button;
    padding: 0.5rem 1rem;
    background: $white;
    color: $teal;
    box-shadow: 1px 1px 0 0 rgba($gloo_gray, 0.3);
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background: $teal;
        color: $white;
    }
}