$card_radius: 6px;
$card_background: $white;

// %flip_card_back & %flip_card_front
//
// These two placeholders should be used for styling a card that has flipping functionality. Use cases are, so far, in the dashboard widget & member card as shown in following examples. It can and should be further extended for any other card styles that have flipping functionality.
//
// Styleguide 22.1

%flip_card {
    background: $card_background;
    height: 100%;
	width: 100%;
    @include sans_light;

    h3 {
		font-size: rem(14);
		margin: 0 0 rem(20);
		position: relative;
	}

}

%flip_card_back {
	@extend %flip_card;
	display: none;

	h3 {
		background: lighten($light_gray, 17%);
		color: $black;
		padding: rem(15) rem(60) rem(15) rem(20);

		> i {
			margin-right: rem(3);
		}

		a {
			@extend %muted_text;
			border-left: 2px solid $white;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			padding: rem(13) rem(15) 0;
			cursor: pointer;
			i {
				font-size: rem(20);
			}
		}
	}

	.inner {
    	padding: 0 1rem 2rem;
	}

	.actions {
		position: absolute;
		bottom: .75rem;
		margin: 0 1rem;
		left: 0;
		right: 0;
		.delete {
			top: .5rem;
		}
		.primary, input[type="submit"] {
			@extend %float_right;
		}
	}
}

// .dash_widget
//
// Dash widget basic markup
//
// Markup:
//<div class="wrapper">
// <div class="dash_widget">
//     <div class="front">
//         <h4>Spaces<a class="flipIt" href="#"><i class="fa fa-cog"></i></a></h4>
//     </div>
//     <div class="back">
//         <h3><i class="fa fa-cog"></i>Spaces<a href="#" class="close flipIt"><i class="fa fa-times"></i></a></h3>
//         <form>
//             <div class="inner">
//                 <p>How would you like to sort your spaces?</p>
//                 <div class="ui_select">
//                     <select>
//                         <option>Most Recent</option>
//                     </select>
//                 </div>
//             </div>
//             <div class="actions">
//                 <a href="#" class="delete"><i class="fa fa-trash-o"></i> Remove Tile</a>
//                 <input type="submit" value="Save" />
//             </div>
//         </form>
//     </div>
// </div>
// </div>
//
// Styleguide 22.2

.dash_widget {
	height: rem(290);
	font-size: rem(13);
	margin: 0 0 2rem;
	cursor: move;

    &.double_tall {
    	height: rem(605);
    }

    @include media($small) {
		float: left;
		margin-bottom: 9%;

		// component does not currently allow for column spanning of widgets, revisit again
		&.double_wide {
	    	width: 100%;
	    }
    }

    h4 {
		padding: 1rem 2.5rem 1rem 1rem;
		margin: 0;
		background: lighten($light_gray, 15%);
		color: $charcoal;
	}

	.flipIt {
		color: $gray;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}

	.front, .back {
		border: 1px solid lighten($light_gray, 10%);
		float: left;
	}

	.front {
		@extend %flip_card;	
	}

	.back {
		@extend %flip_card_back;
		padding-bottom: rem(45);

		form {
			position: static;
		}

	    p {
	    	text-align:center;
	    }

	    .inner {
	    	padding-top: 1rem;
	    }

	}

	//mobile only block styles
	@include media($medium) {

		h4 {
			padding: 2rem 3.5rem 2rem 2rem;
		}

		.flipIt {
			right: 1.75rem;
			top: 1.75rem;
		}

	}

}

%card_common {
	margin-bottom: 2rem;

	@include media($mobileOnly) {
		@include span-columns(2);
		@include omega(2n);
	}

    @include media($tabletOnly) {
    	@include span-columns(2);
    	@include omega(4n);
    }

    @include media($large) {
    	@include span-columns(3);
    	@include omega(4n);
    }

    h5 {
    	@extend %truncate;
        margin-bottom: rem(5);
        word-break: break-word;
        a {
            color: $gray;
        }
    }

    p {
    	@extend %truncate;
        @extend .muted_text;
    }

}

// .member_card
//
// Member card for org managmeent.
//
// Markup:
// <div class="wrapper">
// <div class="member_card">
// 	<div class="front">
// 		<a href="" class="flipIt"><i class="fa fa-gear"></i></a>
// 		<img src="http://lorempixel.com/100/100/nature/" ng-click="onClickMember($index)"/>
// 		<h5><a >Sally Sassafrass</a></h5>
// 		<p>Admin, Publisher</p>
// 		<div class="user_interactions">
// 			<a><i class="fa fa-users"></i>View Activity</a>
// 			<a href=""><i class="fa fa-comments"></i>Send Message</a>
// 		</div>
// 	</div>
// 	<div class="back">
// 		<h3>
// 			<i class="fa fa-cog"></i>Member Settings
// 			<a href="#" class="close flipIt"><i class="fa fa-times"></i></a>
// 		</h3>
// 		<div class="inner">
// 			<h5>Sally Sassafrass</h5>
// 			<p>Admin, Publisher</p>
// 			<a>Change Roles</a>
// 		</div>
// 		<div class="actions">
// 			<a class="delete"><i class="fa fa-trash-o"></i> Remove</a>
// 			<input type="submit" value="Save" class="primary" />
// 		</div>
// 	</div>
// </div>
// </div>
//
// Styleguide 22.3

.member_card {
    height: rem(255);
    @extend .small_text;
    @extend %card_common;

    .front, .back {
    	overflow: hidden;
    	@extend %well_white_no_padding;
    }

    .front {
        @extend %flip_card;
        @extend %well_white_no_padding;
        padding: rem(25) rem(10) rem(20);
        text-align: center;

        > a {
            color: $gray;
            position: absolute;
            right: rem(15);
            top: rem(10);
        }

        img {
            display: block;
            margin: 0 auto rem(20);
            @extend img.circled;
            @extend img.large;
            @extend img.bordered;
            cursor: pointer;
        }

        &.shown {
            @extend .flipYnofade;
            @include transition ( all 2.0s ease-in-out );
        }

        .user_interactions {
            margin-top: rem(20);

            a {
                display: block;
                margin-bottom: rem(8);

                i {
                    margin-right: rem(5);
                }

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }
    }

    .back {
        @extend %flip_card_back;

        p {
            margin: 0 0 rem(20);
        }

        &.shown {
            @extend .flipYnofade;
            @include transition ( all 2.0s ease-in-out );
        }

    }

}

.space_card {
	@extend %card_common;
	@extend %flip_card;
    @extend %well_white_no_padding;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;

    .space_members {
		background-color: lighten($light_gray, 20%);
		padding: 1rem;
		margin-top: 2rem;
		@extend %truncate;
	}

	.avatar_container {
		margin: 0 auto 1rem;
	}

}


// .content_card
//
// Content card for champion profiles. As with the .member_card, adjust the layout according to specific placement when using this card.
//
// Markup:
// <div class="wrapper">
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>I'm an awesome title that runs up to 3 lines before...</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Vivamus hvvendrerit tellus eget nisl varius fermentu. Donccons equat, mi quis grav ida tincidunt, massa ligula vivamus hvvendrerit tellus eget nisl varius Vivamus hvvendrerit tellus eget nisl varius fermentu  ferm entu...</p>
//         <a class="tag">Lifestyle</a>
//     </div>
// </div>
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>I'm an awesome title that runs up to 3 lines before...</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Vivamus hvvendrerit tellus eget nisl varius fermentu. Donccons equat, mi quis grav ida tincidunt, massa ligula vivamus hvvendrerit tellus eget nisl varius Vivamus hvvendrerit tellus eget nisl varius fermentu  ferm entu...</p>
//         <a class="tag">Lifestyle</a>
//     </div>
// </div>
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>I'm an awesome title that runs up to 3 lines before...</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Vivamus hvvendrerit tellus eget nisl varius fermentu. Donccons equat, mi quis grav ida tincidunt, massa ligula vivamus hvvendrerit tellus eget nisl varius Vivamus hvvendrerit tellus eget nisl varius fermentu  ferm entu...</p>
//         <a class="tag">Lifestyle</a>
//     </div>
// </div>
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>I'm an awesome title that runs up to 3 lines before...</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Vivamus hvvendrerit tellus eget nisl varius fermentu. Donccons equat, mi quis grav ida tincidunt, massa ligula vivamus hvvendrerit tellus eget nisl varius Vivamus hvvendrerit tellus eget nisl varius fermentu  ferm entu...</p>
//         <a class="tag">Lifestyle</a>
//     </div>
// </div>
// </div>
//
// Styleguide 22.4

.content_card {
	@extend %well_white_no_padding;
	overflow: hidden;
	margin-bottom: 1.75rem;
	@extend .four_col;
	font-size: 1.2rem;
	line-height: 2rem;

	a {
		@extend %font_weight_500;
	}

    &:nth-of-type(3n + 3) {
    	margin-right: 0;
    }

    @include media($mobileOnly) {
    	width: 49%;
	    margin-right: 2%;
	    float: left;
	    &:nth-of-type(3n + 3) {
	    	margin-right: 2%;
	    }
	    &:nth-of-type(2n + 2) {
	    	margin-right: 0;
	    }
    }

    img {
    	width: 100%;
    }

    .card_wrap {
    	padding: .5rem;
    }

	h2 {
		font-size: rem(15);
		margin-bottom: rem(15);
	}

	.primary {
		display: block;
		text-align: center;
		padding: .25rem;
		margin: 1rem 0 0;
		text-transform: capitalize;
	}

	.meta {
		margin-bottom: rem(15);
		text-transform: capitalize;

		a {
			border-right: 1px solid $teal;
			padding-right: rem(5);
			i {
				padding-right: rem(5);
			}
			&:last-child {
				border-right: 0;
				padding-right: 0;
			}
		}

		.primary {
			display: block;
		}

	}

	// FOR NOW content cards have a set height, we will remove this once the deckgrid is implemented
	// this decision per Justin & Leora
    // min-height: 52rem;
    p {
    	height: 12rem;
    	overflow: hidden;
    }
    h2 {
    	height: 6.75rem;
    	overflow: hidden;
    }
    .meta {
    	height: 5rem;
    	overflow: hidden;
    }
    @include media($medium) {
    	font-size: $base_font_size;
    	line-height: $base_line_height;
    	font-weight: 300;
    	h2 {
    		font-size: rem(18);
    	}
    	.card_wrap {
    		padding: 1.5rem;
    	}
    	p {
    		height: 9rem;
    	}
    }

}
