$card_radius: 6px;
$card_background: $white;

// %flip_card_back & %flip_card_front
//
// These two placeholders should be used for styling a card that has flipping functionality. Use cases are, so far, in the dashboard widget & member card as shown in following examples. It can and should be further extended for any other card styles that have flipping functionality.
//
// Styleguide 22.1

%flip_card {
  background: $card_background;
  height: 100%;
  width: 100%;
  @include sans_light;

  h3 {
    font-size: rem(14);
    margin: 0 0 rem(20);
    position: relative;
  }

}

// per design team, cards are getting revamped to not have a flip, eliminate this css when ready
%flip_card_back {
  @extend %flip_card;
  display: none;

  h3 {
    background: $gray_lightest;
    color: $black;
    padding: rem(15) rem(60) rem(15) rem(20);

    > i {
      margin-right: rem(3);
    }

    a {
      @extend %muted_text;
      border-left: 2px solid $white;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: rem(13) rem(15) 0;
      cursor: pointer;
      i {
        font-size: rem(20);
      }
    }
  }

  .inner {
    padding: 0 1rem 2rem;
  }

  .actions {
    position: absolute;
    bottom: .75rem;
    margin: 0 1rem;
    left: 0;
    right: 0;
    .delete {
      top: .5rem;
    }
    .primary, input[type="submit"] {
      float: right;
    }
  }
}

// .dash_widget
//
// Dash widget basic markup
//
// Markup:
//<div class="wrapper">
// <div class="dash_widget">
//     <div class="front">
//         <h4>Spaces<a class="flipIt" href="#"><i class="fa fa-cog"></i></a></h4>
//     </div>
//     <div class="back">
//         <h3><i class="fa fa-cog"></i>Spaces<a href="#" class="close flipIt"><i class="fa fa-times"></i></a></h3>
//         <form>
//             <div class="inner">
//                 <p>How would you like to sort your spaces?</p>
//                 <div class="ui_select">
//                     <select>
//                         <option>Most Recent</option>
//                     </select>
//                 </div>
//             </div>
//             <div class="actions">
//                 <a href="#" class="delete"><i class="fa fa-trash-o"></i> Remove Tile</a>
//                 <input type="submit" value="Save" />
//             </div>
//         </form>
//     </div>
// </div>
// </div>
//
// Styleguide 22.2

.dash_widget {
  height: rem(290);
  font-size: rem(13);
  margin: 0 0 2rem;
  cursor: move;

  &.double_tall {
    height: rem(605);
  }

  @include media($small) {
    float: left;
    margin-bottom: 9%;

    // component does not currently allow for column spanning of widgets, revisit again
    &.double_wide {
      width: 100%;
    }
  }

  h4 {
    padding: 1rem 2.5rem 1rem 1rem;
    margin: 0;
    background: $gray_lightest;
    color: $gray_dark;
  }

  .flipIt {
    color: $gray_medium;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .front, .back {
    border: $common_gray_border;
    float: left;
  }

  .front {
    @extend %flip_card; 
  }

  .back {
    @extend %flip_card_back;
    padding-bottom: rem(45);

    form {
      position: static;
    }

    p {
      text-align:center;
    }

    .inner {
      padding-top: 1rem;
    }

  }

  //mobile only block styles
  @include media($medium) {

    h4 {
      padding: 2rem 3.5rem 2rem 2rem;
    }

    .flipIt {
      right: 1.75rem;
      top: 1.75rem;
    }

  }

}

%card_common {
  margin-bottom: 2rem;

  @include media($mobileOnly) {
    @include span-columns(2);
    @include omega(2n);
  }

  @include media($small) {
    @include span-columns(2);
    @include omega(3n);
  }

  @include media($large) {
    @include span-columns(4);
    &:nth-child(2n + 1) {
      clear: none;
    }
    &:nth-child(2n) {
      margin-right: 2.35765%;
    }
    @include omega(4n);
  }

  h5 {
    @extend %truncate;
    margin-bottom: rem(5);
    word-break: break-word;
    a {
      color: $gray_medium;
    }
  }

}

// .member_card
//
// Member card for org managmeent.
//
// Markup:
// <div class="wrapper">
// <div class="member_card">
//  <div class="front">
//    <a href="" class="flipIt"><i class="fa fa-gear"></i></a>
//    <img src="http://lorempixel.com/100/100/nature/" ng-click="onClickMember($index)"/>
//    <h5><a >Sally Sassafrass</a></h5>
//    <p>Admin, Publisher</p>
//    <div class="user_interactions">
//      <a><i class="fa fa-users"></i>View Activity</a>
//      <a href=""><i class="fa fa-comments"></i>Send Message</a>
//    </div>
//  </div>
//  <div class="back">
//    <h3>
//      <i class="fa fa-cog"></i>Member Settings
//      <a href="#" class="close flipIt"><i class="fa fa-times"></i></a>
//    </h3>
//    <div class="inner">
//      <h5>Sally Sassafrass</h5>
//      <p>Admin, Publisher</p>
//      <a>Change Roles</a>
//    </div>
//    <div class="actions">
//      <a class="delete"><i class="fa fa-trash-o"></i> Remove</a>
//      <input type="submit" value="Save" class="primary" />
//    </div>
//  </div>
// </div>
// </div>
//
// Styleguide 22.3

.member_card {
  height: rem(255);
  @extend .small_text;
  @extend %card_common;

  .front, .back {
    overflow: hidden;
    @extend %well_white_no_padding;
  }

  .front {
    @extend %flip_card;
    @extend %well_white_no_padding;
    padding: rem(25) rem(10) rem(20);
    text-align: center;

    > a {
      color: $gray_medium;
      position: absolute;
      right: rem(15);
      top: rem(10);
    }

    img {
      display: block;
      margin: 0 auto rem(20);
      @extend img.circled;
      @extend img.large;
      cursor: pointer;
    }

    &.shown {
      @extend .flipYnofade;
      @include transition ( all 2.0s ease-in-out );
    }

    .user_interactions {
      margin-top: rem(20);

      a {
        display: block;
        margin-bottom: rem(8);

        i {
          margin-right: rem(5);
        }

        &:last-child {
          margin-bottom: 0;
        }

      }

    }
  }

  .back {
    @extend %flip_card_back;

    p {
      margin: 0 0 rem(20);
    }

    &.shown {
      @extend .flipYnofade;
      @include transition ( all 2.0s ease-in-out );
    }

  }

}

.space_card {
  @extend %card_common;
  @extend %flip_card;
  @extend %well_white_no_padding;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;

  .space_members {
    background-color: $gray_lightest;
    padding: 1rem;
    margin-top: 2rem;
    @extend %truncate;
  }

  .avatar_container {
    margin: 0 auto 1rem;
  }

}


// .content_card
//
// Content card for champion profiles. As with the .member_card, adjust the layout according to specific placement when using this card.
//
// Markup:
// <div class="wrapper">
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>10 Questions to Ask Your Wife Every Year</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Fun challenges to help you improve your most important relationships. Learn all the learnings today!</p>
//         <footer>
//           <div class="star_group tiny">
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star half"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//           </div>
//           <a class="favorited_count"><i class="fa fa-heart"></i>271</a>
//           <a class="share_link"><i class="fa fa-share"></i></a>
//         </footer>
//     </div>
// </div>
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>10 Questions to Ask Your Wife Every Year</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Fun challenges to help you improve your most important relationships. Learn all the learnings today!</p>
//         <footer>
//           <div class="star_group tiny">
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star half"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//           </div>
//           <a class="favorited_count"><i class="fa fa-heart"></i>271</a>
//           <a class="share_link"><i class="fa fa-share"></i></a>
//         </footer>
//     </div>
// </div>
// <div class="content_card">
//     <img src="http://lorempixel.com/420/250/" />
//     <div class="card_wrap">
//         <h2><a>10 Questions to Ask Your Wife Every Year</a></h2>
//         <div class="meta">
//             <a><i class="fa fa-play"></i>Program</a>
//             <a>Family Life</a>
//         </div>
//         <p>Fun challenges to help you improve your most important relationships. Learn all the learnings today!</p>
//         <footer>
//           <div class="star_group tiny">
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star"><label><i></i></label>
//             <input type="radio" class="star half"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//             <input type="radio" class="star filled"><label><i></i></label>
//           </div>
//           <a class="favorited_count"><i class="fa fa-heart"></i>271</a>
//           <a class="share_link"><i class="fa fa-share"></i></a>
//         </footer>
//     </div>
// </div>
// </div>
//
// Styleguide 22.4

.content_card {
  @extend %well_white_no_padding;
  margin-bottom: 2rem;

  @include media($smallToMedium) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($mediumToLarge) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($large) {
    @include span-columns(4);
    @include omega(3n);
  }

  img {
    width: 100%;
    border: .3rem $white solid;
  }

  .card_wrap {
    padding: 1.5rem 1.5rem 1rem;
  }

  h2 {
    font-size: rem(14);
    margin-bottom: 1rem;
    line-height: 3rem;
    @extend %font_weight_700;
    a {
      color: $gray_medium;
    }
  }

  .meta {
    @extend %small_text;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: $common_gray_border_light;
    i {
      @extend %icon_space;
    }
    a {
      @extend %muted_text;
      &:first-child {
        border-right: $common_gray_border;
        @extend %icon_space;
        padding-right: .7rem;
      }
    }
  }

  p {
    @extend %font_weight_500;
    margin-bottom: 0;
    height: rem(98);
    overflow: hidden;
  }

  footer {
    border-top: $common_gray_border_light;
    margin-top: 2rem;
    padding-top: 2rem;
    @extend %clearfix;
  }

  .favorited_count, .share_link {
    color: $gray_light;
    @extend %small_text;
  }

  .favorited_count {
    i {
      @extend %icon_space;
    }
  }

  .star_group, .favorited_count {
    margin-right: 2rem;
    float: left;
  }

  .share_link {
    float: right;
  }

}


// .library_card
//
// Library card
//
// Markup:
// <div class="library_card">
//   <img src="//placeimg.com/300/300/any"/>
//   <div class="meta">
//     <h3><a>10 Things to Ask Your Wife Every Year</a></h3>
//     <p><a><i class="fa fa-align-left"></i> | FamilyLife</a></p>
//   </div>
//   <button class="btn_action_gray"><i class="fa fa-heart"></i></button>
//   <div class="progress_bar">
//     <span class="bar" style="width: 85%"></span>
//   </div>
// </div>
// 
// Styleguide 22.5

.library_card {
  @extend %well_white_padding;
  .progress_bar {
    clear: both;
    width: 100%;
    margin: 0;
  }
  h3 {
    margin-bottom: 1rem;
  }
  img {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
  }
  .settings_dropdown {
    width: rem(180);
    margin: 0 0 1rem;
    button {
      margin: 0 0 1rem;
      &:hover {
        background-color: $sand;
        color: $teal;
      }
    }
    .dropdown_navigation {
      background-color: $sand;
    }
  }
  @include media($small) {
    .meta, img {
      float: left;
    }
    .meta {
      max-width: 70%;
      padding-right: 2.25rem;
    }
    img {
      margin: 0 1rem 1rem 0;
      width: rem(100);
    }
    .settings_dropdown {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      text-align: right;
    }
  }
  @include media($medium) {
    img {
      margin: 0 2rem 2rem 0;
    }
    .settings_dropdown {
      top: 2.5rem;
      right: 2.5rem;
    }
  }
}