//# Defined Colors
//
// The purpose of defining color variables is to maintain style consistency throughout the sites design. Ideally all colors throughout other partials should only use these defined colors.
//
// Markup:
//<div style="background:#9c4242; padding: 1rem;">$dark_red: #9c4242</div>
//<div style="background:#f90005; padding: 1rem;">$red: #f90005</div>
//<div style="background:#d86767; padding: 1rem;">$light_red: #d86767</div>
//<div style="background:#fff2a8; padding: 1rem;">$yellow: #fff2a8</div>
//<div style="background:#66bd61; padding: 1rem;">$green: #66bd61</div>
//<div style="background:#84c668; padding: 1rem;">$light_green: #84c668</div>
//<div style="background:#8eb3bb; padding: 1rem;">$pale_blue: #8eb3bb</div>
//<div style="background:#40b2cd; padding: 1rem;">$teal: #40b2cd</div>
//<div style="background:#007caa; padding: 1rem;">$blue: #007caa</div>
//<div style="background:#203152; padding: 1rem;">$navy: #203152</div>
//<div style="background:#1e1f20; padding: 1rem;">$black: #1e1f20</div>
//<div style="background:#333333; padding: 1rem;">$charcoal: #333333</div>
//<div style="background:#383d40; padding: 1rem;">$charcoal_blue: #383d40</div>
//<div style="background:#888888; padding: 1rem;">$gloo_gray: #888888</div>
//<div style="background:#666666; padding: 1rem;">$gray: #666666</div>
//<div style="background:#bbbbbb; padding: 1rem;">$light_gray: #bbbbbb</div>
//<div style="background:#f7f5f2; color: #999999; padding: 1rem;">$sand: #f7f5f2</div>
//<div style="background:#ffffff; color: #999999; padding: 1rem;">$white: #ffffff</div>
//
// Styleguide 2.1
//

$teal: #40b2cd;
$green: #66bd61;
$gloo_gray: #888888;
$sand: #f7f5f2;
$white: #fff;
$light_gray: #bbbbbb;
$charcoal: #333333;
$charcoal_blue: #383d40;
$gray: #666666;
$black: #1e1f20;
$light_green: #84c668;
$navy: #203152;
$blue: #007caa;
$pale_blue: #8eb3bb;
$slate_blue: #478695;
$red: #f90005;
$light_red: #d86767;
$dark_red: #9c4242;
$yellow: #f6e957;

//# $selection
//
// This color is used to manage the highlight color.
//
// Markup:
// <div style="background:#fff2a8; color: #999999; padding: 1rem;">$selection</div>
// ::selection, ::-moz-selection {
//      background: $selection;
// }
//
// Styleguide 2.2

$selection: $yellow;
