%button_dropdown {
	margin-bottom: 1rem;
	@extend %well_white_no_padding;
	display: inline-block;
	margin-bottom: 0;
	text-transform: uppercase;
	color: $gray;
	cursor: pointer;
	z-index: 3;
	font-weight: 500;

	> span {
		padding: .75rem rem(50) .75rem 1rem;
		display: block;
	}

	> i {
		position: absolute;
		font-size: rem(20);
		top: rem(5);
		color: $light_green;
		right: rem(15);
	}

	.drop_menu {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 3.45rem;
	    @include well(0 0 rem(6) rem(6), false, false, false, $white, true);

		a {
			display: block;
			padding: rem(5) 1rem;
			color: $gray;
			@include transition(background .2s ease-in-out);

			&:hover {
				background: $sand;
			}

			i {
				margin-right: rem(5);
			}
		}

		&.active, &.open {
			padding: 0 0 .25rem;
		}
	}

	&.active {
		z-index: 4;
	}

}

// Not all drop menu's are used inside a .dropdown
.drop_menu {
	opacity: 0;
	max-height: 0;
	overflow-x: hidden;
    overflow-y: scroll;
	@include transform(translateZ(0));
	@include backface-visibility(hidden);
	@include transition(opacity .1s ease-in-out, max-height .3s ease-in-out);

	&.active, &.open {
		max-height: 50rem;
		opacity: 1;
	}

}

.dropdown {
	@extend %button_dropdown;

	// .dropdown.sorting
	//
	// Standard button style dropdown for filtering and sorting. @extends %button_dropdown
	//
	// Markup:
	// <div class="dropdown sorting">
	//     <span class="selected_option">Sort & Filter</span>
	//     <i class="fa fa-sort-desc"></i>
	//     <div class="drop_menu active">
	//         <a href="" class="option">Role</a>
	//         <a href="" class="option">Date Added</a>
	//     </div>
	// </div>
	//
	// Styleguide 20.2

	&.sorting {
		min-width: rem(180);
	}

	// .dropdown.action
	//
	// Standard button style dropdown for table actions. @extends %button_dropdown
	//
	// Markup:
	// <div class="dropdown action">
	// 	<span class="selected_option">Action</span>
	// 	<i class="fa fa-sort-desc"></i>
	// 	<div class="drop_menu">
	// 		<a href="" class="option">Change Role</a>
	// 		<a href="" class="option">View Activity</a>
	// 		<a href="" class="option">Send Message</a>
	//	</div>
	// </div>
	// <div class="dropdown action">
	// 	<span class="selected_option">Action</span>
	// 	<i class="fa fa-sort-desc"></i>
	// 	<div class="drop_menu active">
	// 		<a href="" class="option">Change Role</a>
	// 		<a href="" class="option">View Activity</a>
	// 		<a href="" class="option">Send Message</a>
	// 	</div>
	// </div>
	//
	// Styleguide 20.3
	&.action {
		min-width: rem(145);
		background: $sand;

		.drop_menu {
			background: $sand;
			a {
				&:hover {
					background: $white;
				}
			}
		}

	}

}


//force menu to hide on desktop
.dropdown_menu {
	@include media($medium) {
		&.mobile_only {
			display: none!important;
		}
	}
}


// panels are used in large white dropdown menus
.panel {
	@include backface-visibility(hidden);
	@include transform(translateZ(0));
}