%button_dropdown {
	margin-bottom: rem(10);
	display: inline-block;

	a {
		cursor: pointer;
	}

	> span {
		@extend %well_white_no_padding;
		padding: rem(8) rem(50) rem(6) rem(10);
		display: inline-block;
		margin-bottom: 0;
		width: 100%;
		font-weight: 300;
		font-size: rem(14);
		text-transform: uppercase;
		color: $gray;
		cursor: pointer;
	}

	> i {
		position: absolute;
		font-size: rem(20);
		top: rem(5);
		color: $light_green;
		right: rem(15);
	}

	.drop_menu {
		width: 90%;
		margin: 0 auto;
		background: $sand;
		border: 1px solid $light_gray;
		border-top-color: rgba($light_gray, .75);
		position: absolute;
		left: 0;
		right: 0;
		z-index: 2;
		box-shadow: 0 0 5px rgba(0,0,0,.1), inset 0 0 5px rgba(255,255,255, 1 );

		a {
			display: block;
			padding: rem(8);
			color: $gray;
			font-size: rem(13);
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			@include transition(background 0.25s ease-in);

			&:hover {
				background: $pale_blue;
				color: $white;
			}

			i {
				margin-right: rem(5);
			}
		}
	}

}

.drop_menu {
	opacity: 0;
	max-height: 0;
    overflow: hidden;
    @include transition(all .2s ease-in-out);

	&.active, &.open {
		max-height: 500rem;
		opacity: 1;
	}

}

.dropdown {
	@extend %button_dropdown;

	// .dropdown.sorting
	//
	// Standard button style dropdown for filtering and sorting. @extends %button_dropdown
	//
	// Markup:
	// <div class="dropdown sorting">
	//     <span class="selected_option">Sort & Filter</span>
	//     <i class="fa fa-sort-desc"></i>
	//     <div class="drop_menu active">
	//         <a href="" class="option">Role</a>
	//         <a href="" class="option">Date Added</a>
	//     </div>
	// </div>
	//
	// Styleguide 20.2

	.selected_option {
		color: $gloo_gray;
	}

	&.sorting {
		min-width: rem(180);
	}

	// .dropdown.action
	//
	// Standard button style dropdown for table actions. @extends %button_dropdown
	//
	// Markup:
	// <div class="dropdown action">
	// 	<span class="selected_option">Action</span>
	// 	<i class="fa fa-sort-desc"></i>
	// 	<div class="drop_menu">
	// 		<a href="" class="option">Change Role</a>
	// 		<a href="" class="option">View Activity</a>
	// 		<a href="" class="option">Send Message</a>
	//	</div>
	// </div>
	// <div class="dropdown action">
	// 	<span class="selected_option">Action</span>
	// 	<i class="fa fa-sort-desc"></i>
	// 	<div class="drop_menu active">
	// 		<a href="" class="option">Change Role</a>
	// 		<a href="" class="option">View Activity</a>
	// 		<a href="" class="option">Send Message</a>
	// 	</div>
	// </div>
	//
	// Styleguide 20.3
	&.action {
		min-width: rem(145);

		> span {
			background: $sand;
		}
	}

}


//force menu to hide on desktop
.dropdown_menu {
	@include media($medium) {
		&.mobile_only {
			display: none!important;
		}
	}
}
