
svg {
    font-size: 1.3rem;
}

g {
    .bar {
        fill: $red;
    }

    .barValue {
        font-size: 1.7rem;
    }

}

.axis {
    path,
    line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
}

.tick {
    display: none;

    @include media(480px) {
        display: block;
    }
}
