// # _graph
//
// Styles for basic svg based graph elements
//
// Styleguide 19.0

svg {
    font-size: 1.3rem;
}

g {
    .bar {
        fill: $red;
    }

    .barValue {
        font-size: 1.7rem;
    }

}

.axis {
    path,
    line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
}
