// Grid Settings
//
// Defines breakpoints and sets up grid columns using mobile first breakpoints.
//
// Anything outside of a media query will apply to all screen sizes.
//
// Markup:
// $grid-columns: 12;
// $max-width: em(1140, 14);
// $small: new-breakpoint(min-width 480px 4);
// $medium: new-breakpoint(min-width 768px 8);
// $large: new-breakpoint(min-width 1025px 12);
// $xlarge: new-breakpoint(min-width 1140px 12);
// $mobileOnly: new-breakpoint(min-width 0px max-width 768px 4);
// $tabletOnly: new-breakpoint(min-width 768px max-width 1023px 8);
//
// Styleguide 1.1

$grid-columns: 12;
$max-width: em(1140, 14);

$small: new-breakpoint(min-width 480px 4);
$medium: new-breakpoint(min-width 768px 8);
$large: new-breakpoint(min-width 1025px 12);
$xlarge: new-breakpoint(min-width 1140px 12);
$mobileOnly: new-breakpoint(min-width 0px max-width 768px 4);
$tabletOnly: new-breakpoint(min-width 768px max-width 1023px 8);

// Sample Media Query
//
// This is a sample of a mobile first media query. A good way to approach this concept is to think small & minimal and then broaden your styles with screen size.
//
// Markup:
// .fooClass {
//     Mobile and general universal styles go here.
//     @media($small) {
//        If any changes are needed between mobile portrait & mobile landscape, add them here.
//     }
//     @media($medium) {
//        Add the changes for tablets here!
//     }
//     @media($large) {
//        I think you get the picture?
//     }
//     @media($xlarge) {
//        Yo screen is too big!
//     }
// }
//
// Styleguide 1.2
