// # _grid
//
// Defines breakpoints and sets up grid columns using mobile first breakpoints.
//
// Anything outside of a media query will apply to all screen sizes.
//
// Styleguide 1.0

// override
@import "../packages/neat/app/assets/stylesheets/neat-helpers";

// grid settings
$grid-columns: 12;
$max-width: em(1140, 14);

// # $small
//
// Applies to screen sizes 480px and above
// 
// Styleguide 1.1

$small: new-breakpoint(min-width 480px 4);

// # $medium
//
// Applies to screen sizes 769px and above
//
// Styleguide 1.2

$medium: new-breakpoint(min-width 769px 8);

// # $large
//
// Applies to screen sizes 1025px and above
//
// Styleguide 1.3

$large: new-breakpoint(min-width 1025px 12);

// # $xlarge
//
// Applies to screen sizes 1140px and above
//
// Styleguide 1.4

$xlarge: new-breakpoint(min-width 1140px 12);

// # $mobileOnly
//
// Applies to mobile only (up to 767px), use only when necessary, ie large changes
//
// Styleguide 1.5

$mobileOnly: new-breakpoint(min-width 0px max-width 769px 4);

// # $tabletOnly
//
// Applies to tablet only (769px - 1023px), use only when necessary, ie large changes
//
// Styleguide 1.6

$tabletOnly: new-breakpoint(min-width 769px max-width 1023px 8);

// # Sample Media Query
//
// This is a sample of a mobile first media query. A good way to approach this concept is to think small & minimal and then broaden your styles with screen size.
//
// Markup:
// .fooClass {
//     Mobile and general universal styles go here.
//     @media($small) {
//        If any changes are needed between mobile portrait & mobile landscape, add them here.
//     }
//     @media($medium) {
//        Add the changes for tablets here!
//     }
//     @media($large) {
//        I think you get the picture?
//     }
//     @media($xlarge) {
//        Yo screen is too big!
//     }
// }  
//
// Styleguide 1.7
