// .hero
//
// Large banner style image
//
// Markup:
// <figure class="hero">
//     <img src="http://lorempixel.com/910/227/abstract">
//     <figcaption>
//         <img class="avatar circled bordered" src="http://lorempixel.com/100/100/nature/" />
//         <button class="btn_action"><i class="fa fa-cog"></i></button>
//     </figcaption>
// </figure>
// <figure class="hero">
//     <img src="http://lorempixel.com/910/227/abstract">
//     <figcaption>
//         <button class="primary" ng-click="connectToChampion()" ng-show="!connectedChampion">Connect</button>
//         <button class="inverse" ng-click="connectToChampion()" ng-show="connectedChampion">Connected</button>
//     </figcaption>
// </figure>
//
// Styleguide 25.1

.hero {
  @extend %clearfix;
  border: $common_gray_border;
  margin-bottom: 1.5rem;

  img {
    display: block;
  }

  figcaption {
    @extend %clearfix;
    bottom: 0;
    width: 100%;
    background: rgba($white, 0.7);
    padding: 1.2rem 2.5rem;

    button {
      float: right;
    }

    .avatar {
      border: 2px solid $white;
      position: absolute;
      top: -80%;
      padding: 0;
    }
    
    .btn_action {
      float: none;
      margin-left: rem(110);
    }

    @include media($medium) {
      position: absolute;
    }
  }

  @include media($medium) {
    margin-bottom: 3rem;
  }
}

// replace duplicated styles in .content_preview_hero
%white_text_hero {
  img {
    display: block;
    width: 100%;
  }

  h1 {
    margin: 0 0 1rem;
    @include animation-name(spaceInLeft);
    @include animation-duration(.5s);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
    @include animation-delay(1s);
    @include backface-visibility(hidden);
  }

  p {
    &:nth-of-type(even), &:nth-of-type(odd) {
      @include animation-duration(.5s);
      @include animation-timing-function(ease-in-out);
      @include animation-fill-mode(both);
      @include backface-visibility(hidden);
    }
        // third
        &:nth-of-type(even) {
          @include animation-name(spaceInRight);
          @include animation-delay(1.25s);
        }
        // second
        &:nth-of-type(odd) {
          @include animation-name(spaceInLeft);
          @include animation-delay(1.15s);
        }
      }

    // fourth
    .btn_group {
      @include animation-name(spaceInLeft);
      @include animation-duration(.5s);
      @include animation-timing-function(ease-in-out);
      @include animation-fill-mode(both);
      @include backface-visibility(hidden);
      @include animation-delay(1.35s);
    }

    @include media($medium) {
      color: $white;
      text-shadow: 0 0 rem(30) $black;
      h1 {
        color: $white;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba($black, .4);
      }
      .meta {
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1rem;
        z-index: 2;
      }
    }
  }