ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  // <ul>
  //
  // Default ul
  //
  // Markup:
  // <ul>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  // </ul>
  //
  // Styleguide 15.1

  &%default_ul {
    list-style-type: disc;
    margin-bottom: $base_line_height / 2;
    padding-left: $base_line_height;
  }

  // <ol>
  //
  // Default ol
  //
  // Markup:
  // <ol>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  //     <li>Sample List Item</li>
  // </ol>
  //
  // Styleguide 15.2

  &%default_ol {
    list-style-type: decimal;
    margin-bottom: $base_line_height / 2;
    padding-left: $base_line_height;
  }
}

dl {
  line-height: $base_line_height;
  margin-bottom: $base_line_height / 2;

  dt {
    font-weight: bold;
    margin-top: $base_line_height / 2;
  }

  dd {
    margin: 0;
  }
}

//for demo purposes
.selector_demo {
    ul {
      @extend %default_ul;
    }

    ol {
      @extend %default_ol;
    }
  }
