// .modal-small
//
// For use with smaller dialogs like confirming a delete action
//
// Markup:
//<div class="modal-small">
// <div class='modal-content'>
//   <div class='modal-header'>
//     Modal Header...
//   </div>
//   <div class='modal-body'>
//     Modal body content
//   </div>
//   <div class='modal-footer'>
//     <button class='button button-primary'>Cancel</button>
//     <button class='button button-secondary'>Ok</button>
//  </div>
// </div>
//</div>
//
// Styleguide 17.1

//
// Modals
// --------------------------------------------------

// .modal-open      - body class thats added to kill scroll
// .modal           - base class to be extended for specific implementations
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    -webkit-overflow-scrolling: touch;
    outline: 0; // removes focus ring on chrome for windows

    .modal-content {
        position: relative;
        background: $white;
        outline: none;
    }

    @include media($small) {
        .modal-footer {
            .button_wrap {
                float: right;
            }
        }
    }
}

.modal-open { // body class to control scroll
    overflow: hidden;
}

.modal-intro {
    padding: 2rem 0;
}

// Modal background overlay
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: #333;

    &.fade {
        opacity: 0;
    }

    &.in {
        opacity: 0.5;
        @include transition(0.3s ease-in-out);
       //z-index: 1060!important;
    }
}

// small modal for confirm dialog etc
.modal-small {
    @extend .modal;
    
    &.in .modal-dialog {
        @include transform(translateY(0));
    }

    .modal-dialog {
        margin: 2rem 2rem 0;
        padding-bottom: rem(100);
        @include transform(translateY(-100%));
        @include transition(all 0.6s linear);
    }

    .modal-content {
        background-color: $white;
        border-radius: 6px;
        padding: 2.5rem 0 0;
        overflow: hidden;
    }

    .modal-header {
        @extend %clearfix;
        border-bottom: 1px solid $light_gray;
        padding: 0 0 1rem;
        margin: 0 1.5rem 0;

        h2 {
            @include sans_bold;
            float: left;
            color: $teal;
            margin: 0;
            -webkit-font-smoothing: antialiased;
        }

        .modal-close {
            float: right;
            @extend %muted_text;
            font-size: rem(20);
        }
    }

    .modal-body {
        color: $gray;
        padding: 1.5rem 1.5rem 1.5rem;
        @include sans_med;

        strong {
            color: $black;
        }
    }

    .modal-footer {
        padding: rem(25);
        background: $sand;
        @extend %clearfix;
        button, .btn {
            width: 47%;
            margin-right: 2%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media($small) {

        .modal-body {
            padding: rem(25) 2.5rem rem(50);
        }

        .modal-header {
            margin: 0 2.5rem 0;
        }

        .modal-footer {
            button, .btn {
                margin-right: 1.5rem;
                width: auto;
                padding: $standard-btn-pad;
            }
        }
    }

    @include media($medium) {
        .modal-dialog {
            @include span-columns(6);
            margin: 0 auto!important;
            float: none;
        }
        &.in .modal-dialog {
            @include transform(translateY(100px));
        }
    }
    
    @include media($large) {
        .modal-dialog {
            @include span-columns(5);
            float: none;
        }
    }
}

// .modal-large
//
// For use in more complex authoring situations ( editing a question for QOTD)
//
// Markup:
//<div class="modal-large">
// <div class='modal-content'>
//   <div class='modal-header'>
//     Modal Header...
//   </div>
//   <div class='modal-body'>
//     Modal body content
//   </div>
//   <div class='modal-footer'>
//     <button class='button button-primary'>Cancel</button>
//     <button class='button button-secondary'>Ok</button>
//  </div>
// </div>
//</div>
//
// Styleguide 17.2

// full size modal for larger content needs
.modal-large {
    @extend .modal;

    &.in .modal-dialog {
        background: $white;
        @include transform(translateY(0));
    }

    .modal-dialog {
        width: 100%;
        margin: 0;
        height: 100%;
        border-bottom: 1px solid $light_gray;
        @include transform(translateY(-100%));
        @include transition(transform .65s linear);

        .modal-content {
            border-radius: 0;
            padding: 0 0 3rem;
            @include clearfix;

            .modal-header {
                @extend %clearfix;
                background: $slate_blue;
                color: $white;
                padding: 3rem rem(20) 2rem;

                h1 {
                    color: $white;
                    float: left;
                }

                .modal-close {
                    margin-top: 1rem;
                    font-size: rem(30);
                    color: $white;
                    float: right;


                    @include media($medium) {
                        font-size: rem(40);
                        margin-top: 1.5rem;
                    }
                }
            }
            .modal-body {
                max-width: 95%;
                border: 1px solid $light_gray;
                margin: 2rem auto 0;
                padding: 0;
                @extend %clearfix;
                @include media($medium) {
                    margin: 5rem auto 0;
                }
                 @include media($xlarge) {
                    @include outer-container;
                 }
            }
            .modal-wrap {
                //for use in large modals. It should wrap everything inside .modal-body except the .modal-footer
                //8% translates to roughly 90px on desktop, and scales accordingly
                padding: rem(20) 8%;
                @include media($medium) {
                    padding: rem(40) 8%;
                }
            }
            .modal-footer {
                @include span-columns(12);
                background: $sand;
                padding: 2rem;

                // Properly space out buttons
                button {
                    margin-left: rem(20);
                }
                @include media($medium) {
                    padding: 4.3rem 10rem;
                }
            }
        }
    }

    @include media($medium) {
        .icon_header {
            margin-bottom: rem(30);
        }
    }
}