
// .progress_bar
//
// Markup:
// <div style="padding: 2rem; background-color: #f2f2f2;">
//   <div class="progress_bar">
//      <span class="bar" style="width:50%"></span>
//      <span>50% Complete</span>
//   </div>
// <div>
//
// Styleguide 13.1

.progress_bar {
	height: 1rem;
	background: $white;
	border: 2px solid $white;
	width: rem(120);
	display: inline-block;
	margin: 1rem 3rem 2rem 0;
	box-shadow: $common_drop_shadow;

	.bar {
		display: block;
		width: 0%;
		height: 100%;
		background: $teal;
		@include transition(width .2s linear, color .2s linear);
		+ span {
			position: absolute;
			top: .5rem;
			left: 0;
			width: 100%;
			color: $gray_medium;
			font-size: rem(8);
		}
	}

	&:before {
		content: '';
		position: absolute;
		right: -1.75rem;
		top: -.35rem;
	}

	// .progress_bar.error
	//
	// Markup:
	// <div class="progress_bar error">
	//    <span class="bar" style="width:10%"></span>
	//    <span>10% Complete</span>
	// </div>
	//
	// Styleguide 13.2
	&.error {

		.bar {
			background: $red;
			+ span {
				display: none;
			}
		}

		&:before {
			color: $red;
			@extend .fa;
			@extend .fa-times;
		}

	}

	// .progress_bar.green
	// 
	// Simplier version for a green progress bar without a following icon
	//
	// Markup:
	// <div class="progress_bar green">
	//    <span class="bar" style="width:20%"></span>
	// </div>
	//
	// Styleguide 13.3
	&.green, &.complete {
		.bar {
			background: $green;
		}
	}

	// .progress_bar.complete
	//
	// Markup:
	// <div class="progress_bar complete">
	//    <span class="bar" style="width:100%"></span>
	//    <span>1000% Complete</span>
	// </div>
	//
	// Styleguide 13.4
	&.complete {

		.bar {
			+ span {
				display: none;
			}
		}

		&:before {
			color: $green;
			@extend .fa;
			@extend .fa-check;
		}

	}

}

// .progress_bar_container
//
// For use in cases when text is needed after the progress bar
//
// Markup:
// <div class="progress_bar_container">
//     <div class="progress_bar">
//        <span class="bar" style="width:50%"></span>
//        <span>50% Complete</span>
//     </div>
//     <span>file_name_01.png</span>
// </div>
//
// Styleguide 13.5

.progress_bar_container {
	@extend %clearfix;
  
	.progress_bar {
		float: left;

		+ span {
			float: left;
			color: $gray_medium;
			margin-bottom: 1rem;
		}

	}

	@include media($mobileOnly) {
		
		.progress_bar {
			max-width: 50%;
		}
		
		span {
			max-width: 50%;
		}

	}

}
