// # _progress_bars
//
// Styles for progress bars 
//
// Styleguide 14.0

// # .progress_bar
//
// Markup: 
// <div class="progress_bar">
//    <span style="width:50%"><span>
// </div>
//
// Styleguide 14.1

.progress_bar {
	height: 2rem;
	background: $white;
	box-shadow: inset 1px 1px 1px 1px rgba(10, 10, 0, .25);
	border-radius: 6px;
	overflow: hidden;

	span {
		display: block;
		width: 0%;
		height: 100%;
		background: $teal;
		border-radius: 6px;
	}

	// # .progress_bar.red
	//
	// Markup: 
	// <div class="progress_bar red">
	//    <span style="width:10%"><span>
	// </div>
	//
	// Styleguide 14.2
	&.red {
		span {
			background: $red;
		}
	}

	// # .progress_bar.green
	//
	// Markup: 
	// <div class="progress_bar green">
	//    <span style="width:100%"><span>
	// </div>
	//
	// Styleguide 14.3
	&.green {
		span {
			background: $light_green;
		}
	}

}