// # _sortable

// Basic styles for sortable
//
// Styleguide 21.0
//

// # .ui_sortable_helper
//
// Custom styling for the jQuery Sortable Drag/Drop control.
//
// Markup: <div class="tabs">
//     <ul>
//         <li><a href="#tab1">Tab 1</a></li>
//         <li><a href="#tab2">Tab 2</a></li>
//         <li><a href="#tab3">Tab 3</a></li>
//     </ul>
//     <div id="tab1">
//         First tab content here
//     </div>
//     <div id="tab2">
//         Second tab content here
//     </div>
//     <div id="tab3">
//         Third tab content here
//     </div>
// </div>
//
// Styleguide 21.0

.sortable_helper_style {
  list-style: none;
  z-index: 1100 !important;  //Keep-Drag-Helper-Visible-Across-Multiple-Views-.
}

.sortable_placeholder {
  background-color: $sand;
  border-bottom: 1px solid #c6c6cb;
  height: 50px;
}
