// <table>
//
// Markup:
// <table>
//     <thead>
//         <tr>
//             <th>Metric Name</th>
//             <th>Score Range</th>
//             <th></th>
//             <th></th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Communication</td>
//             <td>1 to 5</td>
//             <td><a href="">Edit</a></td>
//             <td><a href=""><i class="fa fa-trash-o"></i</a></td>
//         </tr>
//         <tr>
//             <td><input type="text" value="Confidence"/></td>
//             <td>1 to 5</td>
//             <td><a href="" class="primary">Save Metric</a></td>
//             <td><a href=""><i class="fa fa-trash-o"></i></a></td>
//         </tr>
//    </tbody>
// </table>
//
// Styleguide 16.1


table {
	@include museo-sans;
	margin: ($base_line_height / 2) 0;
	width: 100%;
	border: $common_gray_border;
	vertical-align: middle;
}

th, td {
	padding: 0 rem(15);
 	height: rem(50);
 	@include media($small) {
		padding: 0 rem(35);
	}
}

th {
  color: $white;
  @extend %small_text;
  @extend %font_weight_500;
  text-align: left;
  background: tint($pale_blue, 40%);
}

td {
  border-bottom: $common_gray_border;
   @include media($small) {
   		height: rem(100);
  }
}

// .table
//
// Add this class to simulate a table. Use classes to determine row widths, as seen below. The '.main' class designates what will still be displayed in the mobile view. For now, the browser must be refreshed between mobile & desktop sizes for the table to convert to an accordion properly.
//
// Markup:
// <ul class="table">
//     <li class="table_header">
//         <div class="four_col">Metric Name</div>
//         <div class="four_col hidden_mobile">Score Range</div>
//         <div class="two_col hidden_mobile"></div>
//         <div class="two_col hidden_mobile"></div>
//     </li>
//     <li class="row">
//         <a class="expand">+ View More</a>
//         <div class="four_col main">Really long two line title squish me!</div>
//         <div class="four_col range"><label>Score Range: </label><span class="first">1</span> to <span class="second">5</span></div>
//         <div class="two_col center"><a href="">Edit</a></div>
//         <div class="two_col right"><a href=""><i class="fa fa-trash-o"></i></a></div>
//    </li>
//     <li class="row">
//         <a class="expand">+ View More</a>
//         <div class="four_col main">Confidence</div>
//         <div class="four_col range"><label>Score Range: </label><span class="first">1</span> to <span class="second">5</span></div>
//         <div class="two_col center"><a href="">Save Metric</a></div>
//         <div class="two_col right"><a href=""><i class="fa fa-trash-o"></i></a></div>
//    </li>
// </ul>
//
// Styleguide 16.2

%table {

	.main {
		padding: 0.75rem 0;
	}
}

.table {
	@extend %clearfix;
	@include museo-sans;
	border: $common_gray_border;
	background: $white;
	font-size: rem(14);
	margin-bottom: rem(20);
	color: $gray;
	word-break: break-word;
	clear: both;

	li {
		list-style: none;
	}

	.table_header {
		@extend %small_text;
		@extend .muted_header;
		@extend .muted_header.primary_variation;
		@extend %clearfix;

	}

	.row {
		padding: rem(15) rem(15) 0;
		border-bottom: $common_gray_border;
		min-height: 5rem;

		&.active {
			background-color: #fafafa;
			padding-bottom: rem(15);
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.expand {
		text-decoration: none;
		position: absolute;
		right: rem(15);
		cursor: pointer;
		z-index: 10;
	}

	.main {
		padding-right: rem(110);
		padding-bottom: rem(15);
	}

	.range {
		display: inline-block;
		@extend %muted_text;
		text-align: left;
	}

	.mobile_label {
		color: $charcoal;
		padding-right: rem(5);
		@extend %font_weight_500;
	}

	.fa-trash-o {
		color: $gray;
		cursor: pointer;
		padding: .6rem;
	}

	> div {
		a {
			text-decoration: underline;
		}
	}

	input {
		margin: 0;
		float: left;
		width: 80%;
	}

	select {
		color: $gray;
	}

	.primary, .disabled, .secondary {
		text-decoration: none;
		min-width: rem(147);
		display: inline-block;
		text-align: center;

		&:hover {
			color: $white;
		}
	}

	p {
		margin: 0;
		max-width: rem(335);
	}

	.handle {
		display: none;
	}

	.ui_select {
		margin-bottom: rem(9);
	}

	.dropdown {
		margin-bottom: 0;
	}

	.avatar {
		margin: rem(15) 0;
	}

	.pending {
		@extend %muted_text;
		a {
			@extend %muted_text;
		}
	}

	@include media($mobileOnly) {

		div {
			float: left;
			width: 100%;
			padding: 0 0 rem(5);
			margin: 0 0 rem(5);
		}

		.table_details {
			div {
				margin: 0 0 1rem;
			}
		}

		.dropdown_tertiary {
			padding-bottom: 0;
		}

		.hidden_mobile {
			display: none!important;
		}

	}

	@include media($medium) {

		.table_header {
			padding: rem(15) rem(35);

			div:last-child {
				text-align: right;
			}

		}

		.row {
			padding: rem(30) rem(35);
			border-bottom: $common_gray_border;
		}

		// used to be <label>, but we need to move to a class for better specification
		// tables have not yet been refactored to use this class, must do!
		.mobile_label {
			display: none;
		}

		.range {

			.first {
				padding-right: rem(30);
			}

			.second {
				padding-left: rem(30);
			}
		}

		.expand {
			display: none;
		}

		.main {
			border-bottom: none;
			padding: 0;
		}

		.panel {
			display: inline-block!important;
		}

		input[type="text"], input[type="email"] {
			max-width: rem(340);
		}

		.primary, .disabled, .secondary {
			margin-bottom: 0;
		}

		.right {
			text-align: right;

			.half {
				float: right;
			}
		}

		.center {
			text-align: center;
		}

		.handle {
			display: inline-block;
			padding-right: rem(40);
			color: $gray;
		}

		.ui_select {
			margin-bottom: 0;
		}

		.avatar {
			margin: 0;
		}


	}
}

.table_details {
	display: none;
	&.open {
		display: block;
	}
	@include media($medium) {
		display: block!important;
	}
}
