// .tabs
//
// Tab navigation styles
//
// Markup:
// <nav class="tabs">
// 	<ul>
// 		<li class="current"><a>Settings</a></li>
// 		<li><a>Branding</a></li>
// 		<li><a>Champion View</a></li>
// 		<li><a>Members</a></li>
// 		<li><a>Roles</a></li>
// 		<li><a>Activity</a></li>
// 	</ul>
// </nav>
//
// Styleguide 11.1

%tabs {
	@extend %small_text;

	ul {
		padding: 0;
	}

	li {
		@include sans_med;
		@extend %muted_text;
		display: inline-block;
		padding: 0 2rem 0 0;

		a {
			@extend %muted_text;
			font-weight: 300;
			display: block;
		}

		&.current {

			a {
				color: $charcoal;
				font-weight: 500;
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&.small {

		li {
			padding: 0 0.5rem 0 0;
		}

	}

}

.tabs {
	@extend %tabs;
}

//full page tabs, these are being used on the payment page (keep for now, will need to reavaluate after this page is converted into angular)
.tab_pane {
	display: none;

	&.active {
		display: block;
	}
}

.pane {
	display: none;
}
