$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin museo-slab {
	font-family: "museo-slab" sans-serif;
}

@mixin museo-sans {
	font-family: "museo-sans" sans-serif;
}

@mixin slab_light {
	@include museo-slab;
	@extend %font_weight_100;
}
@mixin slab_med {
	@include museo-slab;
	@extend %font_weight_300;
}
@mixin slab_bold {
	@include museo-slab;
	@extend %font_weight_500;
}
@mixin sans_light {
	@include museo-sans;
	@extend %font_weight_100;
}
@mixin sans_med {
	@include museo-sans;
	@extend %font_weight_300;
}
@mixin sans_bold {
	@include museo-sans;
	@extend %font_weight_500;
}
@mixin sans_boldest {
	@include museo-sans;
	@extend %font_weight_700;
}

%font_weight_100 {
	font-weight: 100;
}
%font_weight_300 {
	font-weight: 300;
}
%font_weight_500 {
	font-weight: 500;
}
%font_weight_700 {
	font-weight: 700;
}


body {
	// Body font is now museo-sans, which means at some point we will need to go back in and cleanup museo-sans overrides that are no longer needed.
	@include sans_med;
}


// Headings
//
// Markup:
// <h1>h1 Heading</h1>
// <h2>h2 Heading</h2>
// <h3>h3 Heading</h3>
// <h4>h4 Heading</h4>
// <h5>h5 Heading</h5>
// <h6>h6 Heading</h6>
//
// Styleguide 5.1

h1, h2, h3, h4 {
   @include museo-sans;
   text-rendering: optimizeLegibility; // Fix the character spacing for headings
   line-height: 1.25em;
}

h1 {
	@extend %font_weight_100;
	font-size: rem(22);
	color: $charcoal;
	@include media($medium) {
		font-size: rem(32);
	}
}

h2 {
	@extend %font_weight_500;
	font-size: rem(22);
	color: $charcoal;
}

h3 {
	@extend %font_weight_300;
	font-size: rem(18);
	color: $charcoal;
}

h4 {
	@extend %font_weight_500;
	font-size: rem(14);
	text-transform: uppercase;
	color: lighten($gray, 3%);
	margin: 1rem 0 0.5rem;
}

h5 {
	@extend %font_weight_500;
	font-size: rem(15);
	color: $charcoal;
	margin: 0 0 1rem;
}

h6 {
	@include sans_med;
	font-size: rem(14);
	color: $charcoal;
	margin: 0;
}

// .icon_header
//
// Basic style for a h4 + icon
//
// Markup:
// <header class="icon_header">
//     <h4><i class="fa fa-user"></i>Contact</h4>
// </header>
//
// Styleguide 5.2

.icon_header {
	@extend %clearfix;
	clear: both;
	border-bottom: $common_gray_border;
	margin-bottom: 2rem;

	h4 {
		@extend %float_left;
		margin-top: 0;
		i {
			color: $teal;
			@extend %icon_space;
		}
	}

	.btn_action {
		@extend %float_right;
		padding: .2rem .5rem;
		margin-top: -.5rem;
	}

}

// inconsistent markup around .icon_header, needs to be revisted and globalized.
h4.icon_header {
	i {
		color: $teal;
		@extend %icon_space;
	}
}

// p.small
//
// Basic style for a text footnote or text with an asterisk.
//
// Markup:
// <p class="small_text">Here is some tiny text in a paragraph tag.</p>
//
// Styleguide 5.3

%small_text {
	font-size: rem(12);
	line-height: rem(15);
}

.small_text {
	@extend %small_text;
}

// %muted_text
//
// Basic placeholder that makes the color $light_gray. Class '.muted_text' @extends this placeholder. Use as @extend when possible to keep markup clean.
//
// Markup:
// <p class="muted_text">Here is some muted text.</p>
//
// Styleguide 5.4

%muted_text {
	color: $light_gray;
}

.muted_text {
	@extend %muted_text;
}

// .footnote
//
// Basic style for a text footnote or text with an asterisk.
//
// Markup:
// <p class="footnote">* Here is a footnote.</p>
//
// Styleguide 5.5

.footnote {
	@extend %muted_text;
	margin-top: rem(20);
	margin-bottom: 0;
	padding-top: rem(10);
	@extend %small_text;
	font-weight: normal;
}

// .muted_header
//
// Basic styles for muted headers. The background color is desginated using a '.variation' class, as seen below.
//
// Markup:
// <div class="muted_header primary_variation">Here is a primary muted header</div>
// <div class="muted_header secondary_variation">Here is a secondary muted header</div>
//
// Styleguide 5.6
.muted_header {
	@include sans_bold;
	font-size: rem(14);
	padding: rem(15);
	-webkit-font-smoothing: antialiased;

	&.primary_variation {
		background: tint($pale_blue, 40%);
		color: $white;
	}

	&.secondary_variation {
		background: $sand;
	}

}
