// img.circled
//
// Add this class to acheive the circled image with border.
//
// Markup:
// <img class="circled" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.1

img.circled {
	border-radius: 200px;

	// img.circled.xsmall
	//
	// Markup:
	// <img class="circled xsmall" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.1
	&.xsmall {
		width: rem(30);
		height: rem(30);
	}

	// img.circled.small
	//
	// Markup:
	// <img class="circled small" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.2
	&.small {
		width: rem(40);
		height: rem(40);
	}

	// img.circled.medium
	//
	// Markup:
	// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.3
	&.medium {
		width: rem(60);
		height: rem(60);
	}

	// img.circled.large
	//
	// Markup:
	// <img class="circled large" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.4
	&.large {
		width: rem(90);
		height: rem(90);
	}

	// img.circled.xlarge
	//
	// Markup:
	// <img class="circled xlarge" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.5
	&.xlarge {
		width: rem(110);
		height: rem(110);
	}

	// img.circled.bordered
	//
	// The bordered class can be applied to any size
	//
	// Markup:
	// <img class="circled bordered" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.6
	&.bordered {
		border: 3px solid $green;
	}

}

// .notification
//
// Used next to the cricled image
//
// Markup:
// <div class="notification">
//     <a id="notificationCount" href="#">3</a>
// </div>
// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.7

.notification {
	border-radius: .5rem;
	background: $red;
	display: block;
	position: absolute;
	padding: .1rem .1rem .1rem .2rem;
	left: -3.7rem;
	top: .3rem;
	z-index: 20;
	min-width: 2.7rem;
	min-height: 2.6rem;
	text-align: center;
	border: .2rem solid $white;
	&:before {
		content: '';
		position: absolute;
		border-top: .4rem solid transparent;
		border-bottom: .4rem solid transparent;
		border-left: .4rem solid $red;
		right: -0.4rem;
		top: .7rem;
	}

	a {
		display: block;
		font-size: 1rem;
		font-weight: 700;
		padding: .1rem;
		color: $white;
		line-height: 1.8;
	}

	@include media($medium) {
		top: .75rem;
	}

}

// .avatar
//
// Most common layout for basic user photo with a caption. Image @extends ".bordered" & ".circled" as styled above. Use class ".xsmall" or ".small" to pick avatar size. There is also an '.alerts' variation when a user has nofiticaion, but please be aware that the markup will change in this situation.
//
// Markup:
// <figure class="avatar small">
//     <img src="http://lorempixel.com/100/100/nature/" />
//     <figcaption>
//         <h5><a>Sally Sanderson</a></h5>
//         <p>I'm a cool user</p>
//     </figcaption>
// </figure>
// <figure class="avatar small alerts">
//     <div class="wrap">
//         <div class="notification">
//             <a>3</a>
//         </div>
//         <img src="http://lorempixel.com/100/100/nature/" />
//     </div>
//     <figcaption>
//         <h5>Sally Sanderson</h5>
//     </figcaption>
// </figure>
//
// Styleguide 21.8

.avatar {
	padding-left: rem(50);
	@extend %clearfix;
		// border radius webkit bug fix
	-webkit-transform-style: preserve-3d;

	img {
		@extend .circled;
		@extend .bordered;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	figcaption {
		h5 {
			@include sans_bold;
			margin: 0;
			a {
				color: $charcoal;
			}
		}
		p {
			margin: 0;
			@extend %small_text;
			@extend %muted_text;
		}
	}

	&.small {
		img {
			@extend .small;
		}
	}

	&.xsmall {
		img {
			@extend .xsmall;
		}
	}

	&.medium {
		padding-left: 9rem;
		figcaption {
			padding: 1.5rem 0;
		}
		img {
			@extend .medium;
		}
	}

	&.alerts {
		padding-left: rem(75);
		img {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		figcaption {
			padding: rem(10);
		}

		.wrap {
			position: absolute;
			left: rem(20);
			bottom: 0;
			top: 0;
			margin: auto;
			height: rem(32);
		}

	}

}
