// img.circled
//
// Add this class to acheive the circled image with border.
//
// Markup:
// <img class="circled" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.1

img.circled {
	border-radius: 200px;

	// img.circled.xsmall
	//
	// Markup:
	// <img class="circled xsmall" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.1
	&.xsmall {
		width: rem(30);
		height: rem(30);
	}

	// img.circled.small
	//
	// Markup:
	// <img class="circled small" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.2
	&.small {
		width: rem(40);
		height: rem(40);
	}

	// img.circled.medium
	//
	// Markup:
	// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.3
	&.medium {
		width: rem(60);
		height: rem(60);
	}

	// img.circled.large
	//
	// Markup:
	// <img class="circled large" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.4
	&.large {
		width: rem(90);
		height: rem(90);
	}

	// img.circled.bordered
	//
	// The bordered class can be applied to any size
	//
	// Markup:
	// <img class="circled bordered" src="http://lorempixel.com/100/100/nature/" />
	//
	// Styleguide 21.5
	&.bordered {
		border: 3px solid $green;
	}

}

// .notification
//
// Used next to the cricled image
//
// Markup:
// <div class="notification">
//     <a id="notificationCount" href="#">3</a>
//     <i class="triangle"></i>
// </div>
// <img class="circled medium" src="http://lorempixel.com/100/100/nature/" />
//
// Styleguide 21.6

.notification {
	border-radius: 4px;
	background: $red;
	display: block;
	position: absolute;
	left: -1.75rem;
	top: 1.2rem;
	z-index: 20;


	a {
		font-size: 0.8rem;
		font-weight: bold;
		color: $white;
		padding: 0 0.7rem;
		margin: 0 0.05rem;
		float: left;
		line-height: 2;
	}

	.triangle {
		position: absolute;
		right: -0.6rem;
		top: 0.6rem;
		@include triangle(0.7rem, $red, right);
	}

}

// .avatar
//
// Most common layout for basic user photo with a caption. Image @extends ".bordered" & ".circled" as styled above. Use class ".xsmall" or ".small" to pick avatar size. There is also an '.alerts' variation when a user has nofiticaion, but please be aware that the markup will change in this situation.
//
// Markup:
// <figure class="avatar small">
//     <img src="http://lorempixel.com/100/100/nature/" />
//     <figcaption>
//         <h5><a>Sally Sanderson</a></h5>
//         <p>I'm a cool user</p>
//     </figcaption>
// </figure>
// <figure class="avatar small alerts">
//     <div class="wrap">
//         <div class="notification">
//             <a>3</a>
//             <i class="triangle"></i>
//         </div>
//         <img src="http://lorempixel.com/100/100/nature/" />
//     </div>
//     <figcaption>
//         <h5>Sally Sanderson</h5>
//     </figcaption>
// </figure>
//
// Styleguide 21.6

.avatar {
	padding-left: rem(50);
	@extend %clearfix;

	img {
		@extend .circled;
		@extend .bordered;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		// I believe all avatar images should link somewhere eventually, but if not we will need to remove this and put it in the more element layout files
		cursor: pointer;
	}

	figcaption {
		h5 {
			@include sans_bold;
			margin: 0;
			a {
				color: $charcoal;
			}
		}
		p {
			margin: 0;
			@extend %small_text;
			@extend %muted_text;
		}
	}

	&.small {
		img {
			@extend .small;
		}
	}

	&.xsmall {
		img {
			@extend .xsmall;
		}
	}

	&.medium {
		padding-left: 9rem;
		figcaption {
			padding: 1.5rem 0;
		}
		img {
			@extend .medium;
		}
	}

	&.alerts {
		padding-left: rem(65);
		img {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		figcaption {
			padding: rem(10);
		}

		.wrap {
			position: absolute;
			left: rem(20);
			bottom: 0;
			top: 0;
			margin: auto;
			height: rem(36);
		}

	}

}
