// .align_left
//
// Float an element left, everywhere but portrai mobile
//
// Markup:
// <div class="wrapper"><div class="align_left"><img src="http://lorempixel.com/100/100/nature/" /></div></div>
//
// Styleguide 24.1

.align_left {
	float: left;
	margin: 0 1rem .5rem 0;
}

// .align_right
//
// Float an element right, everywhere but portrai mobile
//
// Markup:
// <div class="wrapper"><div class="align_right"><img src="http://lorempixel.com/100/100/nature/" /></div></div>
//
// Styleguide 24.2

.align_right {
	float: right;
	margin: 0 0 .5rem 1rem;
}
