// .float_left
//
// Float an element left
//
// Styleguide 24.1

%float_left {
	float: left;
}

// .align_right
//
// Float an element right
//
// Styleguide 24.2

%float_right {
	float: right;
}

// .align_left
//
// Float an element left, everywhere but portrait mobile. Adds slight margin for images
//
// Markup:
// <div class="wrapper"><div class="align_left"><img src="http://lorempixel.com/100/100/nature/" /></div></div>
//
// Styleguide 24.3

.align_left {
	float: left;
	margin: 0 1rem .5rem 0;
}

// .align_right
//
// Float an element right, everywhere but portrait mobile. Adds slight margin for images
//
// Markup:
// <div class="wrapper"><div class="align_right"><img src="http://lorempixel.com/100/100/nature/" /></div></div>
//
// Styleguide 24.4

.align_right {
	float: right;
	margin: 0 0 .5rem 1rem;
}

// .bounce_loader
//
// Loading animation
//
// Markup:
// <div class="bounce_loader"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>
//
// Styleguide 24.5

.bounce_loader {
	height: rem(60);
	width: rem(90);
	margin: auto;
	@include transition(all .3s ease-in-out);

	> div {
		height: 100%;
		width: rem(7);
		margin: 0 rem(1);
		background-color: rgba($gloo_gray, .4);
		display: inline-block;
		@include animation-name(stretchDelay);
		@include animation-duration(1.5s);
		@include animation-timing-function(ease-in-out);
		@include animation-iteration-count(infinite);

		&.rect2 {
			@include animation-delay(-1.4s);
		}

		&.rect3 {
			@include animation-delay(-1.3s);
		}

		&.rect4 {
			@include animation-delay(-1.2s);
		}

		&.rect5 {
			@include animation-delay(-1.1s);
		}

	}
}

// .clear_left
//
// Markup:
// <div class="clear_left"></div>
//
// Styleguide 24.6

.clear_left {
	@extend %clearfix;
	clear: left;
}

// %icon_space, .icon_space
//
// This is the common amount of spacing for icons with text next to them.
//
// Markup:
// <p><i class="fa fa-check-circle icon_space"></i>All reviews will be submitted with your username.</p>
//
// Styleguide 24.7

%icon_space, .icon_space {
	margin-right: .5rem;
}

// %color_green
//
// Use this for things with color:green 
//
// Markup:
// <p><i class="fa fa-check-circle icon_space color_green"></i>All reviews will be submitted with your username.</p>
//
// Styleguide 24.8


%color_green, .color_green {
	color: $green;
}

// %rounded_corners
//
// Use this for elements with border-radius: 6px ( $border_radius)
//
// Styleguide 24.9

%rounded_corners {
	border-radius: $border_radius;
}

// %rounded_corners_large
//
// Use this for elements with a slighty larger border-radius: 9px ( $border_radius_large)
//
// Styleguide 24.9

%rounded_corners_large {
	border-radius: $border_radius_large;
}

// %clearfix
//
// Use this instead of @include clearfix; so it only get compiled once
//
// Styleguide 24.10

%clearfix {
	@include clearfix;
}

// %truncate
//
// css truncate
//
// Styleguide 24.11

%truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}