// # _wells_boxes
//
// Styles for basic types of wells and boxes.
//
// Styleguide 13.0

%well {
	padding: rem(15);
	margin: 0 0 1rem;
	border-radius: rem(6);

	@include media($medium) {
		padding: rem(35);
	}
}

// #.well
//
// Base well class. Mix and match various well classes for desired affect.
//
// Markup:
// <div class="well" style="border: 1px dashed red;">This is a well. (Red border is for display only and not to be used)</div>
//
// Styleguide 13.1

.well {

	@extend %well;

	// # .well.shadow
	//
	// Markup:
	// <div class="well shadow">White background with a shadow.</div>
	//
	// Styleguide 13.2
	&.shadow {
		box-shadow: rgba(0, 0, 0, 0.15) 0 1px 1px 1px;
	}


	// # .well.bottom_border
	//
	// Markup:
	// <div class="well bottom_border">White background with a bottom border (opacity .2). Border doesn't show here but works propelry on the site.</div>
	//
	// Styleguide 13.3

	&.bottom_border {
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		background-color: $white;
		padding-top: rem(10);
	}

	// # .well.gray_outline
	//
	// Markup:
	// <div class="well gray_outline">White background with full border and no internal padding, used to outline QOTD tables.</div>
	//
	// Styleguide 13.4

	&.gray_outline {
		border: 1px solid rgb(198, 198, 203);
		border-radius: 0;
		padding: 0;
		margin: 0 0 rem(10);
	}

	// # .well.inset (not in use)
	//
	// Markup:
	// <div class="well inset">White background with an inset shadow.</div>
	//
	// Styleguide 13.5

	&.inset {

		box-shadow: $white 0 0 0 4px inset, rgba(10, 10, 0, .3) 2px 2px 3px 3px inset;
	}

	// # .well.green
	//
	// Markup:
	// <div class="well green">White background with a green border.</div>
	//
	// Styleguide 13.6
	&.green {
		padding: rem(25);
		border: rem(2) solid $green;
	}

	// # .well.blue
	//
	// Markup:
	// <div class="well blue">Blue background with a gray border.</div>
	//
	// Styleguide 13.7
	&.blue {
		padding: rem(25);
		border: rem(1) solid $light_gray;
		background: tint($pale_blue, 50%);
	}

}

// # .box
//
// A more complex well style that holds rows but does not span the entire width. Header variations available as seen in _typography.scss.
//
// Markup:
// <div class="box">
//	    <div class="muted_header primary_variation">I am a blue header</div>
//      <div class="muted_header secondary_variation"><input type="text" placeholder="Search..."/></div>
//      <div class="row">
//          I am a row
//      </div>
//      <div class="row">
//          I am also a row
//      </div>
// </div>
//
// Styleguide 13.8
.box {
	border: rem(1) solid $light_gray;
	font-size: rem(14);

	.row {
		padding: rem(20) 0;
		margin: 0 rem(20);
		border-bottom: rem(1) solid $light_gray;
		&:last-child {
			border: none;
		}
	}

	.muted_header {
		input {
			width: 100%;
			margin: 0;
		}
	}

	.ui_checkbox_green + label {
		padding-bottom: 0;
		i {
			top: rem(2);
		}
	}

}
