$well_border_light: 1px solid rgba(0, 0, 0, .2);
$well_border_dark: 1px solid $light_gray;
$well_shadow: 1px 1px 0 0 rgba($gloo_gray, 0.3);
$well_border_radius: rem(6);

// @mixin well($radius, $padding, $margin, $full_border, $background);
//
// This mixin is used on wells as well as various other elements.
// $radius is 6px by default
// $padding uses a common well padding of 15px on mobile sizes/ 25px on medium-large sizes. Use 'true' or 'false' if you want this padding.
// $margin puts a simple 1rem bottom margin on the well. Use either 'true' or 'false' if you want this spacing.
// $full_border adds a 1px solid $light_gray border. Use true if you want this border, if false an opaque bottom border is added.
// $background is $white by default
//
// Styleguide 12.1

@mixin well($radius: $well_border_radius, $padding: true, $margin: false, $border: false, $background: $white, $shadow: true) {

  	@extend %clearfix;
	border-radius: $radius;
	background: $background;

	@if $padding {
		@extend %well_padding;
	}

	@if $margin {
		@extend %well_margin;
	}

	@if $border {
		border: $well_border_dark;
	}

	@if $shadow {
		box-shadow: $well_shadow;
	}

}

%well_margin {
	margin-bottom: 1.5rem;
}

%well_padding {
	padding: rem(15);
	margin-bottom: 1.5rem;

	@include media($medium) {
		padding: rem(25);
	}
}

// %well_white, %well_white_no_padding
//
// Extend these wells as needed, as seen below.
//
// Markup:
// <div class="well_white">Common well with a white background. This class can be used in the html</div>
//
// Styleguide 12.2

%well_white_padding {
	@include well();
}

%well_white_no_padding {
	@include well($padding: false);
}

.well_white {
	@extend %well_white_padding;
}

// .well_blue
//
// Markup:
// <div class="well_blue">Blue background</div>
//
// Styleguide 12.3

.well_blue {
	@include well($padding: true, $border: true, $background: tint($pale_blue, 50%), $shadow: false);
}

// .box
//
// A more complex well style that holds rows but does not span the entire width. Header variations available as seen in _typography.scss.
//
// Markup:
// <div class="box">
// 	<div class="muted_header primary_variation">I am a blue header</div>
// 	<div class="muted_header secondary_variation"><input type="text" placeholder="Search..."/></div>
// 	<div class="row">I am a row</div>
// 	<div class="row">I am also a row</div>
// </div>
//
// Styleguide 12.4
.box {
	border: rem(1) solid $light_gray;

	.row {
		padding: rem(20) 0;
		margin: 0 rem(20);
		border-bottom: rem(1) solid $light_gray;
		&:last-child {
			border: none;
		}
	}

	.muted_header {
		input {
			width: 100%;
			margin: 0;
		}
	}

	.ui_checkbox_secondary + label {
		padding-bottom: 0;
		i {
			top: rem(2);
		}
	}

}
// .box_table
//
// a variant of the .box component with options for a header and footer
//
// Markup:
// <div class="box_table">
// 	<header class="row">
// 		<h2>Title</h2>
// 	</header>
//	<div class="row">
//		<span>Champion Name</span>
//	</div>
// 	<footer class="row">
// 		<button class="primary">Cancel</button>
// 	</footer>
// </div>
//
// Styleguide 12.5

.box_table {
	@extend .box;

	.row {
		margin: 0;
		padding: rem(30);
	}

	header {
		background: lighten($light_gray, 15%);
	}

	footer {
		background: lighten($light_gray, 25%);

		button {
			float: right;
			background: $light_gray;

			&:hover {
				background: darken($light_gray, 10%);
			}
		}
	}
}
